body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,34,167,1) 35%, rgba(0,212,255,1) 100%);
}

h1{
    color: white;
}

.btn1{
    margin-top: 150px;
}

 .btn1{
    background: #000 !important;
    color: white !important;
    font-family: "Red Hat Display", Sans-serif;
    font-size: 40px;
    font-weight: 900;
    width: 400px;
    height: 90px;
    border-radius: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    margin-left: 500px;
    
}

ul li{
    padding-left: 5px !important;
}